.no-padding {
    padding: 0;
}

.margin-top {
    margin-top: 30px;
}

.item {
    height: 33vh;
}

/* Footer Styles */
footer {
    padding-top: 20px;
    border-top: 10px solid darkgray;
    background-color: white;
}

/* Use line to separate footer sections on mobile devices */
.footer-section {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid lightgray;
}

.navbar-footer {
    background-color: inherit;
    border-radius: 0;
    border: none;
}

footer .nav li {
    padding-left: 20px;
}

.bottom-rule {
    border-bottom: 1px solid lightgray;
}

.mobile-margin{
  margin-top: 30px;
}


/* When the screen is large enough for col-sm (screen is not super tiny) */
@media screen and (min-width: 768px) {
    /* Hide the line separating footer sections on non-mobile devices since the
       sections will be side-by-side instead of stacked */
    .footer-section {
        margin-bottom: 0;
        border-bottom: none;
    }

    .navbar-footer {
        margin-bottom: 0;
        text-align: center;
    }

    footer .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .mobile-margin{
      margin-top: 0px;
    }

    .item {
        height: 70vh;
    }

    .carousel-inner>.item>a>img, .carousel-inner>.item>img, .thumbnail a>img, .thumbnail>img {
        width: 100%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 992px) {
    html, body, .container {
        width: 970px;
        margin: 0 auto;
    }

    .item {
        max-height: 625px;
    }
}

@media screen and (min-width: 768px) and (orientation: portrait) {
    .item {
        height:40vh;
    }
    .carousel-inner>.item>a>img, .carousel-inner>.item>img, .thumbnail a>img, .thumbnail>img {
        width:100%;
        margin: 0 auto;
    }
}
