<header class="header">
    <nav class="navbar navbar-default navbar-custom">
        <div class="container">
            <div class="navbar-header">
                <!-- Dropdown menu button for smaller screens -->
                <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand"><img src="{{ site.baseurl }}/pictures/favicons/favicon-57.png"></a>
            </div>
            <!-- Navigation Links -->
            <div id="navbarCollapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    {% include nav-links.html %}
                </ul>
            </div>
        </div>
    </nav>
</header>